Users handling
	Register an user
	Delete an user
	Manage user permission


Orders handling
	Manage internal orders handling
		Accept requests from workers to EZWH
		Accept requests from Organizational Units to EZWH
			confirm the "deliver" item to pick up area
		Accept requests from Manager to EZWH
		Confirm or reject order delivered
	Manage external orders handling
		Accept requests from EZWH to Supplier
		Accept request from Customer to EZWH
		Confirm or reject order delivered
		

manage testing
	Select test for specific item? maybe show list etc
	manage result test
		confirm
		send back items


manage warehouse
	manage map
		create
		update
		delete
	Define areas
	Replace item in the area
	Show items list	 
	Show space avalability


pick up area
	receive item from warehouse
	check item as delivered at the pick up area